<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)" lang="vi" class="h-full">
<head th:replace="~{fragments/head :: head(${title})}"></head>
<body class="min-h-full flex flex-col bg-parchment text-carbon_black font-sans antialiased selection:bg-blazing_flame selection:text-white">
    <!-- Main Global Navbar Header -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Global Floating Toast Alerts Container -->
    <div th:replace="~{fragments/alerts :: alerts}"></div>

    <!-- Dynamic Main Content Slot -->
    <main class="flex-1 w-full">
        <th:block th:replace="${content}" />
    </main>

    <!-- Global Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
